@import '../../theme/colors';

page-login {
    .title {
        text-align: center;
    }
    .section-logo {
        margin-top: 4.57em;
        .logo {
            display: block;
            margin: auto;
            height: 8em;
        }
    }
    .input-fields {
        .register-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
