<ion-header>
	<ion-navbar>
	</ion-navbar>
</ion-header>
<ion-content padding>
    <div class='section-logo'>
		<img class='logo-app' src='assets/imgs/logo.png' />
		<header>RECUPERAR CONTRASEÑA</header>
    </div>
    <ion-list class='input-fields'>
        <ion-item class='input-field label-left'>
            <ion-label class='label'>
                <ion-icon class='icon' ios='ios-mail' md='md-mail'></ion-icon>
            </ion-label>
            <ion-input type='text' placeholder='Email' [(ngModel)]='email'></ion-input>
        </ion-item>
        <button ion-button class='btn btn-primary' full [disabled]='!email' (click)='resetPassword()'>Enviar</button>
    </ion-list>
    <div class="validate-code-section" *ngIf='isSent'>
        <div class="sub-title">
            Ingrese el código que le hemos enviado a su correo
        </div>
        <form novalidate [formGroup]="user">
            <ion-list class='input-fields'>
                <ion-item class='input-field label-left'>
                    <ion-label class='label'>
                        <ion-icon class='icon' ios='ios-key' md='md-key'></ion-icon>
                    </ion-label>
                    <ion-input type='tel' placeholder='Código' formControlName="code"></ion-input>
                </ion-item>
                <ion-item class="input-field label-left">
                    <ion-label class="label">
                        <ion-icon class="icon icon-lock" ios="ios-lock" md="md-lock"></ion-icon>
                    </ion-label>
                    <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
                </ion-item>
                <ion-item class="input-field label-left">
                    <ion-label class="label">
                        <ion-icon class="icon icon-lock" ios="ios-lock" md="md-lock"></ion-icon>
                    </ion-label>
                    <ion-input type="password" formControlName="repeatPassword" placeholder="Repetir contraseña"></ion-input>
                </ion-item>
                <div class="error" *ngIf="unmatchPassword(user) && user.get('repeatPassword').touched">
                    Las contraseñas no coinciden.
                </div>
                <button ion-button class='btn btn-primary' full [disabled]='user.invalid || unmatchPassword(user)' (click)='savePassword(user)'>Cambiar Contraseña</button>
            </ion-list>
        </form>
    </div>
</ion-content>
