page-home {
    ion-content {
        &.content-ios {
            .scroll-content {
                margin-top: 64px !important;
            }
        }
    }
    .search-section {
        margin-bottom: 0;
        &.list-ios {
            ion-item:first-child {
                border-top: 0px;
            }
        }
        .input-search {
            background-color: $bg-app;
            padding: 8px 12px;
            .item-inner {
                background-color: $white;
                padding-left: 12px;
                padding-right: 12px;
                border-radius: 8px;
            }
            .label-search {
                display: flex;
                flex: none;
                margin: 0;
                ion-icon.icon {
                    font-size: 1.6em;
                    &.icon-ios {
                        font-size: 1.3em;
                        color: #999;
                        font-weight: bold;
                    }
                }
            }
            .select-search {
                width: 100%;
                max-width: 100%;
                border: none;
                .select-icon {
                    display: none;
                }
            }
        }
    }
    .map-section {
        min-height: 350px;
    }
}
