// app-colors
$btn-light          : #d1d1e0;
$green-light-one    : #a8cf45;
$green-light-two    : #85a53b;
$green-light-three  : #8aaf2d;
$green-dark         : #036e3c;
$dark               : #000000;
$white              : #ffffff;

$blue-fb            : #3b5998;


$bg-app             : $green-light-one;
