// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/colors';
@import '../theme/buttons';
@import '../theme/forms';
@import '../theme/modal';

ion-content {
    background-color: $bg-app;
    &.content-md, &.content-ios, &.content-wp {
        // background-image: url('../assets/imgs/bg-app.png');
        // background-repeat:no-repeat;
        // background-position:center;
        // background-size: 100%;
        background-color: $bg-app;
    }
}

.logo-app {
    display: block;
    margin: auto;
    height: 8em;
}

page-register-user, page-home, page-result {
    ion-header.header {
        .toolbar {
            .back-button {
                color: $white;
            }
            .toolbar-background-md, .toolbar-background-ios, .toolbar-background-wp {
                background: none;
                border-bottom: 1px solid $white;
                box-shadow: none;
                color: $white;
            }
            button {
                &.menu {
                    color: $white;
                }
            }
            .toolbar-content {
                display: flex;
            }
            ion-title {
                .toolbar-title {
                    color: $white;
                    text-transform: uppercase;
                    padding-left: 0;
                }
            }
        }
        &::after {
            display: none;
        }
    }
}

page-home, page-result {
    &._gmaps_cdv_ {
        ion-header.header {
            background-color: $bg-app;
        }
    }
    ion-content {
        &.content-ios {
            .scroll-content {
                margin-top: 64px !important;
            }
        }
    }
    .search-section {
        margin-bottom: 0;
        &.list-ios {
            ion-item:first-child {
                border-top: 0px;
            }
        }
        .input-search {
            background-color: $bg-app;
            padding: 8px 12px;
            .item-inner {
                background-color: $white;
                padding-left: 12px;
                padding-right: 12px;
                border-radius: 8px;
            }
            .label-search {
                display: flex;
                flex: none;
                margin: 0;
                ion-icon.icon {
                    font-size: 1.6em;
                    &.icon-ios {
                        font-size: 1.3em;
                        color: #999;
                        font-weight: bold;
                    }
                }
            }
            .select-search {
                width: 100%;
                max-width: 100%;
                border: none;
                .select-icon {
                    display: none;
                }
            }
        }
    }
    .map-section {
        min-height: 350px;
    }
}
